body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: center;
}

.payment-container {
    width: 350px;
    margin: 60px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-top: 6px solid #6a0dad;
}

h2 {
    color: #6a0dad;
    margin-bottom: 20px;
}

.total-box {
    background-color: #ffcc00;
    color: #6a0dad;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
}

h3 {
    color: #6a0dad;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    background-color: #6a0dad;
    color: #ffcc00;
    border: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5a009d;
}

.hidden {
    display: none;
}